.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 100s linear;
  height: 300px;
  pointer-events: none;
}

.loc-logo {
  background-image: url('./loc-logo-main.png');
  height: 50px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loc-logo {
  background-image: url('./loc-logo.png');
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-vertical-center {
  align-items: center;
}

.flex-horizontal-center {
  justify-content: center;
}

.flex-horizontal-start {
  justify-content: start;
}

.one-way {
  margin-right: 15px;
}

.twoBind {
  margin: 15px;
  padding: 5px;
  border: 2px solid #6cdffc;
}

.react-results {
  margin-right: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div {
  color: whitesmoke;
}

h3 {
  color: whitesmoke;
}

h1 {
  color: white
}
