/* You can add global styles to this file, and also import other style files */
body {
    background-color: #DCDCDC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    font-size: 18px;
    border-color: red;
}

html, body {
    height: 100%;
    width: 100%;
}