/* You can add global styles to this file, and also import other style files */
body {
    background-color: #000033;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
    font-size: 18px;
    border-color: red;
}

html, body {
    height: 100%;
    width: 100%;
}

div {
    color: whitesmoke;
    font-size: 18px;
}

h1 {
    color: white
}